.pokemon_card {
  width: 250px;
  min-height: 450px;
  margin: 25px;
  padding: 10px;

  text-align: center;

  background-color: lightgray;

  border: 1px solid black;
  border-radius: 15px;

  font-size: 20px;
  letter-spacing: 0.1em;

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 4px 5px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 4px 5px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 4px 5px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.pokemon_card a {
  color: black;
  text-decoration: none;
}

.pokemon_card :hover {
  cursor: pointer;
  color: lightslategray;
}

.pokemon_card_content {
  height: 85%;
}

.pokemon_name {
  /* font-family: "Recursive", sans-serif; */
  letter-spacing: 3px;
  font-size: 30px;
  margin: 10px 0px 20px 0px;
}
.pokemon_image {
  max-width: 90%;
  min-height: 65%;
}
.pokemon_image_null {
  font-size: 25px;
  margin-top: 30%;
}

.pokemon_card_add-button {
  height: 10%;
  min-width: 80%;
  margin: 0px auto;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid black;
  border-radius: 15px;
  background-color: azure;

  font-family: "Zen Dots", cursive;
  font-size: 20px;
  font-weight: 600;
}
.pokemon_card_add-button:hover {
  border: 3px solid limegreen;

  box-shadow: 0 0 5px 2px limegreen;
  color: limegreen;
}
