.pokemon-details-container-wrapper-card {
  width: 100%;
  padding: 30px 0px;
}
.pokemon-details-container-wrapper {
  max-width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pokemon-details-container {
  max-width: 700px;
  min-height: 600px;
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  text-align: center;

  background: lightgray;
  border-radius: 15px;
}
.pokemon-details-container-title {
  padding: 0px 20px;
  margin: -20px 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 30px;
  letter-spacing: 3px;
}
.pokemon-details-container-title-button {
  min-width: 55px;
  min-height: 55px;
  margin: 30px -10px;
  border-radius: 10px;

  font-size: 20px;
  font-weight: 600;

  border: 3px solid black;
  background-color: azure;

  font-family: "Zen Dots", cursive;
}
.pokemon-details-container-title-button:hover {
  border: solid lightslategray;
  color: lightslategray;
}

.pokemon-details-container-content {
  display: flex;
  flex-direction: row;
}
@media screen and (max-device-width: 500px) {
  .pokemon-details-container-wrapper {
    width: 100%;
    padding: 0px;
  }
  .pokemon-details-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pokemon-details-container {
    border-radius: 0px;
  }
}
.pokemon-details-container-content-image {
  width: 50%;
  min-width: 220px;
  display: flex;
}
.pokemon-details-container-content-image img {
  max-width: 100%;
}
.pokemon-details-container-content-info {
  width: 50%;
  margin: 10px;
  padding: 0px 20px 20px 20px;

  font-size: 18px;
  letter-spacing: 0.7px;

  background-color: azure;
  border-radius: 15px;
  border: 3px solid black;
}
.pokemon-details-container-content-info p {
  text-align: left;
}
.pokemon-details-container-content-params {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}
.pokemon-details-container-content-params-param {
  text-align: left;
  margin: 2px 0px;
}
.pokemon-details-container-content-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 15px;
}
.pokemon-details-container-content-stats-stat {
  width: 40%;
  text-align: left;
  margin: 5px 0px;
}

.pokemon-details-container-content-ability {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.pokemon-details-container-content-ability div {
  text-decoration: underline;
}

.pokemon-details-container-content-types {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-family: "Zen Dots", cursive;
}
.pokemon-details-container-button {
  margin: 1rem;
  padding: 1rem;

  border: 3px solid black;
  border-radius: 15px;
  background-color: azure;

  font-family: "Zen Dots", cursive;
  font-size: 25px;
  font-weight: 600;
}
.pokemon-details-container-button:hover {
  box-shadow: 0 0 5px 2px lightslategray;
  color: lightslategray;
}

.pokemon-details-container-button-arrow {
  border: 0px solid white;
  border-radius: 50%;
}
.pokemon-details-container-button-arrow:hover {
  /* border: 4px solid lightslategray; */
  box-shadow: 0 0 10px 4px lightslategrey;
  border-radius: 50%;
}
