.party_wrapper {
  position: absolute;
  min-width: 380px;
  min-height: 100px;
  background-color: lightslategray;
  margin: 1% -15%;
  border: 2px solid black;
  border-radius: 15px;
}
.party_tittle {
  text-align: end;
  font-size: 30px;
  margin: 10px;
}
.party_tittle h3 {
  margin: 0px;
  text-decoration: underline;
}

.party_pokemon_line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 5px 0px;
  padding: 5px;

  color: black;
  background-color: lightgray;

  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 1px 0 rgb(255 255 255 / 20%), inset 0 4px 5px rgb(0 0 0 / 60%),
    inset 0 1px 0 rgb(0 0 0 / 60%);
}

.party_pokemon_line p {
  margin: 5px 0px;
  font-size: 40px;
  letter-spacing: 2px;
}
.party_team_stats_wrapper {
  padding: 5px;
  border-top: 5px solid lightgray;
}
.party_team_stats {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon_button {
  width: 10%;
  padding: 3%;
  margin: 2%;
  border-radius: 5px;
  font-size: 20px;
}
.pokemon_button:hover {
  box-shadow: 0 0 10px 4px lightslategrey;
  color: lightslategrey;
}
