body {
  font-family: "Ranchers", cursive;
}
.header {
  margin: 0px;
  padding: 0px 15px;

  background-color: lightgray;
  border: 1px solid;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  max-width: 1300px;
  margin: 0px auto;
}
