body {
  font-family: "Ranchers", cursive;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0px;
  padding: 0px 30px;

  background-color: lightgray;
  border: 1px solid;
}
.header-modal-open {
  font-size: 25px;
  font-weight: 600;
}
.header-modal-open:hover {
  color: lightslategrey;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  max-width: 1300px;
  margin: 0px auto;
}
